/* normal tag selectors */
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Title section and navigation bar  */
#container-position {
  padding: 0 ;
}

#title {
  text-align: center;
}

#website-title {
  font-family: 'David Libre', serif;
  font-size: 2rem;
}

.logo {
  border-radius: 100%;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-opacity {
  opacity: 0.8;
}

/* Title section */
#page-title {
  padding: 10% 8% 4%;
  text-align: center;
}

.heading1 {
  margin: 5% 0 2% 0;
  font-family: 'Merriweather', serif;
  font-size: 3.6rem;
}

.sub-heading {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
}

/* Posts section */
#all-posts {
  padding: 3% 8% 10%;
  line-height: 2;
}

#all-posts h2 {
  text-align: center;
  font-size: 2.6rem;
  font-style: italic;
  margin: 20px 0 80px 0;
}

/* Footer section */
#footer {
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

.footer-head-main {
  color: #fff;
  font-size: 2.2rem;
}

.footer-head {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}
