html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
  color: #000;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
}

.parallax {
    /* the background image used */
    background-image: url("../images/contact/background_img.gif");
    /* Full height of page */
    height: 100%;
    /* creating parallax effect */
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

#header h1 {
  padding: 5% 8%;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  color: #28abb9;
}

#contacts {
  padding: 2.2% 9%;
}

#contacts h2 {
  color: grey;
  font-family: 'Oswald', sans-serif;
}
