html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #81b214;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}

/* title section */
#navigation-bar {
  text-align: right;
  background-color: #fff;
  padding: 3% 6% 1%;
}

.logo {
  box-sizing: border-box;
  border-radius: 100%;
  width: 70%;
}

.logo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.nav-item-style {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.parallax {
    /* the background image used */
    background-image: url("../images/rhetor/rhetor.png");
    /* Full height of page */
    max-width: 100%;
    /* creating parallax effect */
    background-attachment: fixed;
    background-size: cover;
}

/* features section */
#feature {
  padding: 8% 8%;
  text-align: center;
}

.feature-header {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin: 5% 0
}

#feature h3 {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 35px 0 20px 0;
}

#feature p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.3rem;
}

.col-padding {
  padding: 2% 4%;
}

.illustration {
  display: block;
  margin: 0 auto;
  transition: width 2s ease;
  width: 80%;
  object-fit: contain;
  cursor: pointer;
}

.illustration:hover {
  width: 60%;
  transition: 2s ease;
  box-shadow: 5px 3px 50px grey;
}

/* testimonials section */
#testimonials {
  text-align: center;
  padding: 5% 8% 8%;
}

.background1 {
  background-image: url("../images/backgrounds/sec-waves1.png");
  max-width: 100%;
  /* creating parallax effect */
  background-attachment: fixed;
  background-size: cover;
}


/* News section */
#news {
  text-align: center;
  padding: 10% 8%;
}

#news .col-lg-12 {
  padding: 2%;
}

#news h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
}

#news p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: #000;
}

#news img {
  margin: 8% auto;
  width: 70%;
}

.archives:hover {
  box-sizing: border-box;
  opacity: 0.7;
  width: 80%;
}


/* Forms section */
#form{
  text-align: center;
  padding: 10% 15%;
}

#form h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
}

#form p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin: 40px 0 40px 0;
}

#form button {
  margin: 2%;
}

/* footer section */
#footer {
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

.footer-head {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}

.iiser_logo {
  width: 40%;
  display: block;
  margin: 20px auto;
}
