html {
  scroll-behavior: smooth;
}

body {
  padding: 0 2%;
  overflow-x: hidden;
}

/* back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* title section */
#navigation-bar {
  background-color: #fff;
  padding: 3% 6% 1%;
}

.logo {
  box-sizing: border-box;
  border-radius: 100%;
  width: 70%;
}

.logo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Title section */
#title {
  padding: 5% 8%;
}

.page-head {
  color: #000;
  font-family: 'Brawler';
  font-size: 8rem;
}

.sub-head {
  font-family: 'Open Sans', sans-serif;
  padding: 2% 42% 3% 1%;
  font-size: 1.2rem;
}

#title button {
  margin: 0 1%;
}

.parallax {
    /* the background image used */
    background-image: url("../images/backgrounds/website3.png");
    /* Full height of page */
    height: 100%;
    /* creating parallax effect */
    background-attachment: fixed;
    background-size: cover;
}

/* features section */
#feature {
  padding: 8% 8%;
}

.feature-header {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin: 5% 0
}

#feature h3 {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 35px 0 20px 0;
}

#feature p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.3rem;
}

.col-padding {
  padding: 2% 4%;
}

.illustration {
  transform: skewY(5deg);
  transition: width 2s ease;
  width: 80%;
  object-fit: contain;
  cursor: pointer;
}

.illustration:hover {
  width: 60%;
  transform: none;
  transition: 2s ease;
  box-shadow: 5px 3px 50px grey;
}

/* testimonials section */
#testimonials {
  text-align: center;
  padding: 5% 8% 8%;
}

.background1 {
  background-image: url("../images/backgrounds/sec-waves1.png");
  /* creating parallax effect */
  background-attachment: fixed;
  background-size: cover;
}

.testimonials-head {
  font-size: 3.6rem;
  font-family: 'Montserrat', sans-serif;
  margin: 2%;
}

#testimonials p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

#testimonials img {
  width: 50%;
  padding: 10%;
}

#testimonials img:hover {
  opacity: 0.7;
}

/* News section */
#news {
  text-align: center;
  padding: 10% 8%;
}

#news .col-lg-12 {
  padding: 2%;
}

#news h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
}

#news p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #000;
}

#news img {
  margin: 8% auto;
  width: 70%;
}

.archives:hover {
  box-sizing: border-box;
  opacity: 0.7;
  width: 80%;
}

/* Crew section */
#team {
  text-align: center;
  padding: 5% 8%;
}

.background2 {
  background-image: url("../images/backgrounds/seccov2.png");
  /* creating parallax effect */
  background-attachment: fixed;
  background-size: cover;
}

#team h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
}

.image {
  width: 15%;
  margin: 3%;
  transition: width 2s ease;
}

.image:hover {
  width: 20%;
}
.name{
  color: #000;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

#team .icon {
  color: #000;
  margin: 0 10px;
  background-color:
}

#team .icon:hover {
  color: #81b214;
}

/* Forms section */
#form{
  text-align: center;
  padding: 10% 15%;
}

#form h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
}

#form p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin: 40px 0 40px 0;
}

#form button {
  margin: 2%;
}

/* Share website buttons */
#share-buttons {
  padding: 0 8%;
}

#share-buttons h4 {
  display: inline-block;
  margin-right: 60%;
  font-family: 'Montserrat', sans-serif;
}

#share-buttons .fab {
  padding: 10px;
  width: 50px;
  margin: 0 10px 0 0;
  text-align: center;
  border-radius: 100%;
}

#share-buttons a {
  text-decoration: none;
}

#share-buttons .fab:hover {
  opacity: 0.7;
}

/* Facebook bg color*/
#share-buttons .fa-facebook-f {
  background-color: #3B5998;
  color: white;
}
/* Twitter bg color*/
#share-buttons .fa-twitter {
  background-color: #55ACEE;
  color: white;
}
/* LinkedIn bg color */
#share-buttons .fa-linkedin-in {
  background-color: #0e76a8;
  color: white;
}

/* footer section */
#footer {
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

#footer h2 {
  color: #fff;
  font-size: 2.2rem;
}

.footer-head {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}

.div-position {
  margin: 30px auto;
}

#footer hr {
  border-top: 1px solid white;
  width: 97%;
  margin-top: 50px;
}

.footer-repost {
  font-family: 'David Libre', serif;
  font-size: 2rem;
  color: #fff;
}

#footer p {
  color: grey;
}
