/* normal tag selectors */
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
  color: grey;
}

/* back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* title section */
#navigation-bar {
  background-color: #fff;
  padding: 3% 6%;
  box-shadow: 10px 10px 50px 3px grey;
}

#navigation-bar .navbar-brand {
  font-family: 'David Libre', serif;
  font-size: 2rem;
  color: #000;
}

#navbarDropdown {
  padding-left: 8px;
}

.dropdown-menu.show {
  margin-right: 80%;
}

.logo {
  border-radius: 100%;
  width: 25%;
  margin: 0 10px 10px 0;
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Title section */
#title {
  padding: 4% 8%;
}

.page-head {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 8rem;
}

.sub-head {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #000;
  padding: 0 1%;
  width: 60%;
}

#title button {
  margin: 0 1%;
}

.parallax {
    /* the background image used */
    background-image: url("../images/cover.jpg");
    /* Full height of page */
    height: 100%;
    /* creating parallax effect */
    background-attachment: fixed;
    background-size: cover;
}

/* features section */
#feature {
  text-align: left;
  padding: 10% 8%;
}

.background-img {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#feature h2 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  margin: 35px 0 20px 0;
}

#feature p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #000;
}

.illustration {
  width: 90%;
}

/* Crew section */
#team {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  text-align: center;
  padding: 10% 10%;
}

#team h2 {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

.image {
  height: 200px;
  width: 200px;
  margin: 5%;
}

.name{
  color: #000;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

/* Forms section */
#form{
  text-align: center;
  padding: 12% 15%;
}

#form h2 {
  font-family: 'Merriweather', serif;
  font-size: 3.6rem;
}

#form p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin: 40px 0 40px 0;
}

#form button {
  margin: 2%;
}

/* footer section */
#footer {
  box-shadow: 10px 10px 50px 3px grey;
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

#footer h2 {
  color: #fff;
  font-size: 2.2rem;
}

.footer-head {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}

.div-position {
  margin: 30px auto;
}

#footer hr {
  border-top: 1px solid white;
  width: 97%;
  margin-top: 50px;
}

.footer-repost {
  font-family: 'David Libre', serif;
  font-size: 2rem;
  color: #fff;
}
