/* normal tag selectors */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Title section and
navigation bar  */
#container-position {
  padding: 0;
}

#navigation-bar {
  text-align: center;
}

#website-title {
  font-family: 'David Libre', serif;
  font-size: 2rem;
}

.logo {
  border-radius: 100%;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-opacity {
  opacity: 0.8;
}

/* Content */
#title {
  padding: 12% 0 5%;
}

.heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}

#Acknowledgements {
  padding: 5% 15%;
}

.article {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}

/* Footer section */
#footer {
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

.footer-head-main {
  color: #fff;
  font-size: 2.2rem;
}

.footer-head {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}

.div-position {
  margin: 30px auto;
}

.line-2 {
  border-top: 1px solid white;
  width: 97%;
  margin-top: 50px;
}

.footer-repost {
  font-family: 'David Libre', serif;
  font-size: 2rem;
  color: #fff;
}

#footer p {
  color: grey;
}

/* darkmode adjustments */
.darkmode--activated .article {
  color: #fff;
}

.darkmode--activated h3 {
  color: #fff;
}
