
/* normal tag selectors */

html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Title section and
navigation bar  */


#container-position {
  padding: 0 ;
}

#title {
  text-align: center;
}

#website-title {
  font-family: 'Merienda One', cursive;
  font-size: 2rem;
}

.logo {
  border: 2px solid green;
  border-radius: 100%;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-opacity {
  opacity: 0.8;
}


/* Event sections */

#event-1 {
  text-align: left;
  padding: 10% 8%;
}

#event-2 {
  background-color: #ecf4f3;
  text-align: left;
  padding: 10% 8%;
}

#event-3 {
  text-align: left;
  padding: 10% 8%;
}

.head-1-position {
  padding: 50px;
}

/* For all event headings  */
.head-1 {
  font-family: 'Merriweather', serif;
  font-size: 3.6rem;
}

/* Position of like buttons */
.btn {
  margin-left: 20px;
}

/* For authors of articles */
.card-text-2 {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-bottom: 0;
}

/* For position of all the cards */
.card-position {
  padding: 6% 0;
}

.sub-card:hover {
  filter: drop-shadow(8px 8px 10px gray);
}

.card-img {
  opacity: 0.7;
}

.card-title {
  color: #000;
}
.card-text {
  color: #000;
}

/* For postion of pagination */
.page-navigator {
  margin: 50px 15px;
}



/* Footer section */

#footer {
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon-position {
  padding: 20px 20px;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

.footer-head-main {
  color: #fff;
  font-size: 2.2rem;
}

.footer-head {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}

.div-position {
  margin: 30px auto;
}

.line-2 {
  border-top: 1px solid white;
  width: 97%;
  margin-top: 50px;
}

.footer-repost {
  font-family: 'Merienda One', cursive;
  font-size: 2rem;
  color: #fff;
}



/* Dark mode website */

.darkmode--activated h1 {
  color: #fff;
}
