/* normal tag selectors */
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
  color: grey;
}

/*navigation bar  */

#navigation-bar .navbar-brand {
  font-family: 'David Libre', serif;
  font-size: 2rem;
  padding-left: 2%;
}

.logo {
  border-radius: 100%;
  width: 25%;
  margin: 0 10px 8px 0;
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-opacity {
  opacity: 0.8;
}

/* Event sections */
#event-1 {
  text-align: left;
  padding: 10% 8%;
}

#event-1 h1 {
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 3.6rem;
}

#event-2 {
  background-color: #ecf4f3;
  text-align: left;
  padding: 10% 8%;
}

#event-2 h1 {
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 3.6rem;
}

#event-3 {
  text-align: left;
  padding: 10% 8%;
}

#event-3 h1 {
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 3.6rem;
}

/* article authors */
.card-text-2 {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-bottom: 0;
}

/* position & card details */
.card-position {
  padding: 6% 0;
}

.sub-card:hover {
  box-shadow: 5px 5px 50px 1px gray;
}

.card-img {
  opacity: 0.7;
}

.card-title, .card-text {
  color: #000;
}

/* pagination position*/
#event-3 .pagination {
  margin: 50px auto;
}

/* Footer section */
#footer {
  box-shadow: 10px 10px 50px 3px grey;
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

#footer h2 {
  color: #fff;
  font-size: 2.2rem;
}

#footer h3 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}

.div-position {
  margin: 30px auto;
}

#footer hr {
  border-top: 1px solid white;
  width: 97%;
  margin-top: 50px;
}

.footer-repost {
  font-family: 'David Libre', serif;
  font-size: 2rem;
  color: #fff;
}

/* Dark mode website */
.darkmode--activated h1 {
  color: #fff;
}
