@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 300px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url("../New Team/pictures/archisha.png");
}
.card:nth-child(2):before {
  background-image: url("../New Team/pictures/vidya.png");
}
.card:nth-child(3):before {
  background-image: url("../New Team/pictures/avani.png");
}
.card:nth-child(4):before {
  background-image: url("../New Team/pictures/srinanditha.png");
}
.card:nth-child(5):before {
  background-image: url("../New Team/pictures/aaquilah.png");
}
.card:nth-child(6):before {
  background-image: url("../New Team/pictures/aarul.png");
}
.card:nth-child(7):before {
  background-image: url("../New Team/pictures/akhila.png");
}
.card:nth-child(8):before {
  background-image: url("../New Team/pictures/shwetha.png");
}
.card:nth-child(9):before {
  background-image: url("../New Team/pictures/adithya.png");
}
.card:nth-child(10):before {
  background-image: url("../New Team/pictures/jerin.png");
}

.card:nth-child(11):before {
  background-image: url("../New Team/pictures/keerthana.png");
}
.card:nth-child(12):before {
  background-image: url("../New Team/pictures/sarthak.png");
}
.card:nth-child(13):before {
  background-image: url("../New Team/pictures/krishna.png");
}
.card:nth-child(14):before {
  background-image: url("../New Team/pictures/ruchi.png");
}
.card:nth-child(15):before {
  background-image: url("../New Team/pictures/umashankar.png");
}
.card:nth-child(16):before {
  background-image: url("../New Team/pictures/anusha.png");
}
.card:nth-child(17):before {
  background-image: url("../New Team/pictures/kasi.png");
}
.card:nth-child(18):before {
  background-image: url("../New Team/pictures/kannanunni.png");
}
.card:nth-child(19):before {
  background-image: url("../New Team/pictures/sourav.png");
}
.card:nth-child(20):before {
  background-image: url("../New Team/pictures/priyadharsinee.png");
}
.card:nth-child(21):before {
  background-image: url("../New Team/pictures/vedaasri.png");
}
.card:nth-child(22):before {
  background-image: url("../New Team/pictures/suhana.png");
}
.card:nth-child(23):before {
  background-image: url("../New Team/pictures/riya.png");
}
.card:nth-child(24):before {
  background-image: url("../New Team/pictures/kaviranjana.png");
}
.card:nth-child(25):before {
  background-image: url("../New Team/pictures/anugraha.png");
}
.card:nth-child(26):before {
  background-image: url("../New Team/pictures/anagha.png");
}
.card:nth-child(27):before {
  background-image: url("../New Team/pictures/arunima.png");
}
.card:nth-child(28):before {
  background-image: url("../New Team/pictures/adheena.png");
}
.card:nth-child(29):before {
  background-image: url("../New Team/pictures/greeshma.png");
}
.card:nth-child(30):before {
  background-image: url("../New Team/pictures/meenakshy.png");
}
.card:nth-child(31):before {
  background-image: url("../New Team/pictures/deopal.png");
}
.card:nth-child(32):before {
  background-image: url("../New Team/pictures/abhishek.png");
}







.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

.logo {
    box-sizing: border-box;
    border-radius: 100%;
    width: 70%;
  }



  #footer {
    text-align: left;
    background-color: #4c4c4c;
    padding: 3% 8%;
  }

  .icon {
    margin: 20px 20px 0 0;
    color: #fff;
    font-size: 1.5rem;
  }

  .icon:hover {
    color: #81b214;
  }

  .footer-head-main {
    color: #fff;
    font-size: 2.2rem;
  }

  .footer-head {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .terms {
    text-decoration: none;
    color: #ecf4f3;
    font-family: 'Open Sans', sans-serif;
  }

  .terms:hover {
    color: #81b214;
  }

  .div-position {
    margin: 30px auto;
  }

  .line-2 {
    border-top: 1px solid white;
    width: 97%;
    margin-top: 50px;
  }

  .footer-repost {
    font-family: 'David Libre', serif;
    font-size: 2rem;
    color: #fff;
  }

  .iiser_logo {
    width: 40%;
    display: block;
    margin: 20px auto;
  }

  #footer p {
    color: grey;
  }
  /* normal tag selectors */
  html,body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

  /* Title section and
  navigation bar  */

  #container-position {
    padding: 0 ;
  }

  #navigation-bar {
    text-align: center;
  }

  #website-title {
    font-family: 'David Libre', serif;
    font-size: 2rem;
  }

  .logo {
    border-radius: 100%;
    width: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .nav-icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .nav-opacity {
    opacity: 0.8;
  }

  /* content */

  #title {
    text-align: left;
    padding: 12% 15% 0 15%;
  }

  .heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
  }

  .sub-head {
    margin: 2% 0;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.12rem;
  }

  #title i{
    color: #000;
    padding: 5% 4% 0 0;
    font-size: 1.5rem;
  }

  .cover-img {
    margin: 5% auto;
    width: 80%;
  }

  #blog-post {
    padding: 5% 10%;
  }

  #blog-post .icon {
    color: #000;
  }

  .article {
    padding: 0 5%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
  }
  ol {
    padding: 0 8%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 0.95rem;
  }
  ul {
    padding: 0 8%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 0.95rem;
  }
  #blog-post img {
    border: 2px solid #000;
    display: block;
    margin: 4% auto;
    width: 60%;
  }

  .figure-legend {
    /*display : block;
    margin-left: inherit;
    margin-right: auto;
    padding-left: 40%;
    width: 100%;
  */
    padding-left: 5%;
  }

  .line {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #dddddd;
    width: 10%;
  }

  #reference {
    text-align: left;
    padding: 2% 15% 5% 15%;
    font-family: 'Open Sans', sans-serif;
  }

  .line {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #dddddd;
    width: 10%;
  }

  /* Comment section */

  #comment-box {
    padding: 5% 15%;
    font-family: 'Open Sans', sans-serif;
  }

  /* More posts */

  #more-posts {
    padding: 5% 5%;
  }

  #more-posts .col-md-6 {
    padding: 5%;
  }

  #more-posts h3 {
    padding-top: 5%;
  }

  #more-posts img {
    width: 100%;
    box-shadow: 3px 3px 60px grey;
  }

  #more-posts img:hover {
    box-shadow: 5px 5px 60px 5px grey;
  }

  /* Footer section */

  #footer {
    text-align: left;
    background-color: #4c4c4c;
    padding: 3% 8%;
  }

  .icon {
    margin: 20px 20px 0 0;
    color: #fff;
    font-size: 1.5rem;
  }

  .icon:hover {
    color: #81b214;
  }

  .footer-head-main {
    color: #fff;
    font-size: 2.2rem;
  }

  .footer-head {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .terms {
    text-decoration: none;
    color: #ecf4f3;
    font-family: 'Open Sans', sans-serif;
  }

  .terms:hover {
    color: #81b214;
  }

  .div-position {
    margin: 30px auto;
  }

  .line-2 {
    border-top: 1px solid white;
    width: 97%;
    margin-top: 50px;
  }

  .footer-repost {
    font-family: 'David Libre', serif;
    font-size: 2rem;
    color: #fff;
  }

  .iiser_logo {
    width: 40%;
    display: block;
    margin: 20px auto;
  }

  #footer p {
    color: grey;
  }

  /* testimonials section */
  #testimonials {
    text-align: center;
    padding: 5% 8% 8%;
  }

  .background1 {
    background-image: url("../images/backgrounds/sec-waves1.png");
    max-width: 100%;
    /* creating parallax effect */
    background-attachment: fixed;
    background-size: cover;
  }

  .testimonials-head {
    font-size: 3.6rem;
    font-family: 'Montserrat', sans-serif;
    margin: 2%;
  }

  #testimonials p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
  }

  #testimonials img {
    width: 60%;
    padding: 10%;
  }

  #testimonials img:hover {
    opacity: 0.7;
  }

  /* News section */
  #news {
    text-align: center;
    padding: 10% 8%;
  }

  #news .col-lg-12 {
    padding: 2%;
  }

  #news h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
  }

  #news p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #000;
  }

  #news img {
    margin: 8% auto;
    width: 70%;
  }

  .archives:hover {
    box-sizing: border-box;
    opacity: 0.7;
    width: 80%;
  }



  /* darkmode adjustments */
  .darkmode--activated .article {
    color: #fff;
  }
  .darkmode--activated ul {
    color: #fff;
  }
  .darkmode--activated ol {
    color: #fff;
  }
  .darkmode--activated h3 {
    color: #fff;
  }
