/* normal tag selectors */
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Title section and
navigation bar  */

#container-position {
  padding: 0 ;
}

#navigation-bar {
  text-align: center;
}

#website-title {
  font-family: 'David Libre', serif;
  font-size: 2rem;
}

.logo {
  border-radius: 100%;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-opacity {
  opacity: 0.8;
}

/* content */

#title {
  text-align: left;
  padding: 12% 15% 0 15%;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}

.sub-head {
  margin: 2% 0;
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.12rem;
}

#title i{
  color: #000;
  padding: 5% 4% 0 0;
  font-size: 1.5rem;
}

.cover-img {
  margin: 5% auto;
  width: 80%;
}

#blog-post {
  padding: 5% 10%;
}

#blog-post .icon {
  color: #000;
}

.article {
  padding: 0 5%;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
}

#blog-post img {
  border: 2px solid #000;
  display: block;
  margin: 4% auto;
  width: 60%;
}

.figure-legend {
  padding: 0 20%;
}

.line {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #dddddd;
  width: 10%;
}

/* Comment section */

#comment-box {
  padding: 5% 15%;
  font-family: 'Open Sans', sans-serif;
}

/* More posts */

#more-posts {
  padding: 5% 5%;
}

#more-posts .col-md-6 {
  padding: 5%;
}

#more-posts h3 {
  padding-top: 5%;
}

#more-posts img {
  width: 100%;
  box-shadow: 3px 3px 60px grey;
}

#more-posts img:hover {
  box-shadow: 5px 5px 60px 5px grey;
}

/* Footer section */

#footer {
  text-align: left;
  background-color: #4c4c4c;
  padding: 3% 8%;
}

.icon {
  margin: 20px 20px 0 0;
  color: #fff;
  font-size: 1.5rem;
}

.icon:hover {
  color: #81b214;
}

.footer-head-main {
  color: #fff;
  font-size: 2.2rem;
}

.footer-head {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 15px;
}

.terms {
  text-decoration: none;
  color: #ecf4f3;
  font-family: 'Open Sans', sans-serif;
}

.terms:hover {
  color: #81b214;
}

.div-position {
  margin: 30px auto;
}

.line-2 {
  border-top: 1px solid white;
  width: 97%;
  margin-top: 50px;
}

.footer-repost {
  font-family: 'David Libre', serif;
  font-size: 2rem;
  color: #fff;
}

#footer p {
  color: grey;
}

/* darkmode adjustments */
.darkmode--activated .article {
  color: #fff;
}

.darkmode--activated h3 {
  color: #fff;
}
