html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navigation bar */
#container-position {
  padding: 0;
}

#navigation-bar {
  text-align: center;
}

#website-title {
  font-family: 'David Libre', serif;
  font-size: 2rem;
}

.logo {
  border-radius: 100%;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-opacity {
  opacity: 0.8;
}

/* welcome address */
#welcome-video {
  padding: 15% 10% 2%;
}

#welcome-video h1 {
  font-family: 'Montserrat', sans-serif;
}

#welcome-video p {
  line-height: 2;
  font-family: 'Open-Sans', sans-serif;
}

.content {
  margin: 4% 0;
  text-align: justify;
}

#video-transcription {
  padding: 2% 10%;
  text-align: justify;
}

#video-transcription h2 {
  font-family: 'Montserrat',sans-serif;
}

#video-transcription p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}

/* testimonials */
#testimonials {
  padding: 4% 10%;
}

#testimonials h1, h2, h4 {
  font-family: 'Montserrat', sans-serif;
}
.container {
  margin: 2% 0;
  padding: 10px 0;
  border: solid 2px red;
  border-radius: 20px;
}

.para {
  font-family: 'Open-Sans', sans-serif;
  line-height: 2;
}
