html, body {
  overflow-x: hidden;
}

.bgColor {
  background-color: #f7f7e8;
}

#title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 4% 15%;
}

#entryTicket {
  margin: 2% 15%;
  border: 2px solid red;
  border-radius: 15px;
  padding: 10px 10px;
}

#entryTicket h3 {
  padding: 20px 0;
}

#entryTicket p {
  font-family: 'Open-Sans', sans-serif;
  font-size: 1.4rem;
}

.blastPoster {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.impObject {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
  }
}

#prelims {
  margin: 2% 15%;
  border: 2px solid green;
  border-radius: 15px;
  padding: 10px 10px;
}

#prelims h3 {
  padding: 20px 0;
}

#prelims p {
  font-family: 'Open-Sans',sans-serif;
  font-size: 1.4rem;
}

#footer {
  padding: 20px 0;
  text-align: center;
  color: grey;
  font-size: 0.8rem;
}
