html, body {
  overflow-x: hidden;
}

.bgColor {
  background-image: url("../images/bg2.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

#title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 4% 15%;
}

#navbar {
  margin: 0 15%;
}

#entryTicket {
  margin: 2% 15%;
  border: 4px solid red;
  border-radius: 15px;
  padding: 10px 10px;
  background-color: #fff;
}

#entryTicket h3 {
  padding: 20px 0;
}

#entryTicket p, ol {
  font-family: 'Open-Sans', sans-serif;
  font-size: 1.4rem;
}

.blastPoster {
  width: 80%;
  display: block;
  margin: 0 auto;
}

em {
  font-size: 1.4rem;
  background-color: yellow;
}

#prelims {
  margin: 2% 15%;
  border: 4px solid green;
  border-radius: 15px;
  padding: 10px 10px;
  background-color: #fff;
}

#prelims h3 {
  padding: 20px 0;
}

#prelims p {
  font-family: 'Open-Sans',sans-serif;
  font-size: 1.4rem;
}

#qualified_teams {
  margin: 2% 15%;
  border: 4px solid hotpink;
  border-radius: 15px;
  padding: 10px 10px;
  background-color: #fff;
}

#qualified_teams h3 {
  padding: 20px 0;
  text-align: center;
}

#qualified_teams h4 {
  font-family: 'Open-Sans', sans-serif;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 4px;
  margin: 10px;
}

#footer {
  padding: 20px 0;
  text-align: center;
  font-size: 0.8rem;
}
